<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title><!- title !></title>
  </head>
  <body>
    <nav>
      <!-- todo do not touch i will handel it  -->
    </nav>

    <%- block body %>

    <footer>
      <!-- todo do not touch i will handel it  -->
    </footer>
    <%- block script %>
  </body>
</html>
